<div class="todos">
    <div class="todos-header">
      <h3 class="todos-title">Todo List</h3>
      <div>
        <p>
            You have <span class="todos-count"></span> items
        </p>
        <button 
          type="button" 
          class="todos-clear" 
          style="display: none;"
        >
          Clear Completed
        </button>
      </div>
    </div>
    <form (ngSubmit)="addTodo($event)" class="todos-form" name="todos">
      <input 
        type="text" 
        [(ngModel)]="msg"
        placeholder="What's next?" 
        name="msg"
      >
      <button type="submit">Submit</button>
    </form>
    <ul class="todos-list"></ul>
  </div>